.migrate-to-dokan {
    text-align: center;
    position: relative;
    margin-top: 20px
}
.migrate-to-dokan section {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 50px;
    position: relative
}
.card-section {
    text-align: left
}
.migrate-to-dokan section:not(:first-of-type) {
    display: none
}
.migrate-to-dokan .action-button {
    width: 100px;
    background: #EF545D;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
}

.migrate-to-dokan .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}
.migrate-to-dokan .action-button-previous:hover,
.migrate-to-dokan .action-button-previous:focus {
    background-color: #EF545D;
}
.card {
    z-index: 0;
    border: none;
    position: relative
}
.purple-text {
    color: #EF545D;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}
input[type="button"] {
    width: 100px;
    background: #EF545D;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
}
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #EF545D;
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #setup:before {
    font-family: FontAwesome;
    content: ""
}

#progressbar #migrate:before {
    font-family: FontAwesome;
    content: ""
}


#progressbar #complete:before {
    font-family: FontAwesome;
    content: ""
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #EF545D;
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #EF545D;
}